<div class="col-md-12 Calender">
  <!-- <p routerLink="/dashboard" style="cursor:pointer; color: blue">
    Back
  </p> -->


  <mat-tab-group>
    <mat-tab label="List View">
      <p>
        October
      </p>
      <mat-card>
        <div class="col-md-1 left-content">
          <span class="upper-text">Oct</span>
          <div class="clearfix"></div>
          12
        </div>
        <div class="col-md-5 right-content" routerLink="event/1">
          Understanding the Complexity of Living with Cancer
        </div>
        <div class="col-md-3 middle-panel text-center">1 - 4 PM, New York, NY</div>
        <div class="col-md-3 icon-panel text-right">
          <span><img src="assets/icons/add.svg"></span>
          <span><img src="assets/icons/map.svg"></span>
          <span><img src="assets/icons/details.svg"></span>
          <span><img src="assets/icons/check-mark.svg" width="20"></span>
        </div>
      </mat-card>

      <mat-card>
        <div class="col-md-1 left-content">
          <span class="upper-text">Oct</span>
          <div class="clearfix"></div>
          12
        </div>
        <div class="col-md-5 right-content" routerLink="event/2">
          Understanding the Complexity of Living with Cancer
        </div>
        <div class="col-md-3 middle-panel text-center">1 - 4 PM, New York, NY</div>
        <div class="col-md-3 icon-panel text-right">
          <span><img src="assets/icons/add.svg"></span>
          <span><img src="assets/icons/map.svg"></span>
          <span><img src="assets/icons/details.svg"></span>
          <span><img src="assets/icons/check-mark.svg" width="20"></span>
        </div>
      </mat-card>

      <mat-card>
        <div class="col-md-1 left-content">
          <span class="upper-text">Oct</span>
          <div class="clearfix"></div>
          12
        </div>
        <div class="col-md-5 right-content" routerLink="event/3">
          Understanding the Complexity of Living with Cancer
        </div>
        <div class="col-md-3 middle-panel text-center">1 - 4 PM, New York, NY</div>
        <div class="col-md-3 icon-panel text-right">
          <span><img src="assets/icons/add.svg"></span>
          <span><img src="assets/icons/map.svg"></span>
          <span><img src="assets/icons/details.svg"></span>
          <span><img src="assets/icons/check-mark.svg" width="20"></span>
        </div>
      </mat-card>

    </mat-tab>
    <!-- <mat-tab label="Calender View"> Content 2 </mat-tab> -->
    <mat-tab label="Update Calender"> 
    <app-view-calender></app-view-calender>  
    </mat-tab>
    
  </mat-tab-group>
  <button mat-button (click)="openDialog()">Open dialog</button>

</div><!-- Master-12 -->
<div class="clearfix"></div>

<br>