<div class="col-md-12 Calender">
  <p>
    calender works!
  </p>
  <mat-tab-group>
    <mat-tab label="List View">

      <mat-card class="">
        <div class="col-md-1 left-content">
          <span class="upper-text">Oct</span>
          <div class="clearfix"></div>
          12 
        </div>
        <div class="col-md-5 right-content"> 
            Understanding the Complexity of Living with Cancer
        </div>
        <div class="col-md-3">1 - 4 PM, New York, NY</div>
        <div class="col-md-3 icon-panel text-right">
          <span><img src="assets/icons/add.svg"></span>
          <span><img src="assets/icons/map.svg"></span>
          <span><img src="assets/icons/details.svg"></span>
          <span><img src="assets/icons/check-mark.svg"></span>
        </div>
      </mat-card>

    </mat-tab>
    <mat-tab label="Calender View"> Content 2 </mat-tab>
    <mat-tab label="Update Calender"> Update Calender </mat-tab>
  </mat-tab-group>

</div><!-- Master-12 -->