.header-text{
    color: #1D232F;	font-family: Lato;	font-size: 30px;	line-height: 44px;
    padding-top: 14px;
}    
.header-right-text {
    background-color: white;
    border: 1px solid #2B62CA;
    padding: 5px 7px;
    border-radius: 8px;
    color: #2B62CA;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    width: 286px;
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}
.header-section{
  padding: 13px 60px;
  background: #F7FAFF;
  border-bottom: 1px solid #DBE6F8;
}
.header-section .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content{
    top:0px;
    left: 0px;
    background: linear-gradient(317.31deg, #A12BCA 0%, #FF9356 100%);
    color: #fff;
}
