<div class="col-md-12 header-section">
  <div class="col-md-3 header-text col-sm-5 col-xs-5">Dashboard</div>

  <div class="col-md-9 col-sm-7 col-xs-7">

    <div class="profile-info pull-right">
      <p>
        <span matBadge="!" matBadgePosition="before" matBadgeColor="accent"><img src="assets/img/user-profile.png"
            class="img-responsive pull-right"></span>
      </p>
    </div>
    <div class="header-right-text hidden-xs">Contact Your Patient Relationship Manager</div>

  </div>
</div>