<div class="clearfix"></div>
<br>

<div class="col-md-12 nopadding">
  <div class="col-md-8">
    <div class="my-story-section1">
      <mat-card>
        <p class="my-story-section1-heading">
          <strong> Please find presentation content that you have completed training on </strong>
        </p>
        <hr>
        <div class="col-md-12 nopadding">
          <div class="col-md-9">
            <h4><strong>Learning that I have Cancer and What to Expect</strong>
            </h4>
            <p class="my-story-section1-color">
              Version: 1
            </p>
            <p class="my-story-section1-color">10/12/2018
            </p>
          </div>
          <div class="col-md-3">
            <button type="button" class="download-button">DOWNLOAD</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 nopadding">
          <div class="col-md-9">
            <h4><strong>Telling My Family About My Cancer</strong></h4>
            <p class="my-story-section1-color">
              Version: 1
            </p>
            <p class="my-story-section1-color">10/12/2018
            </p>
          </div>
          <div class="col-md-3">
            <button type="button" class="download-button">DOWNLOAD</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 nopadding">
          <div class="col-md-9">
            <h4><strong>Coping with My Cancer</strong>
            </h4>
            <p class="my-story-section1-color">
              Version: 1
            </p>
            <p class="my-story-section1-color">10/12/2018
            </p>
          </div>
          <div class="col-md-3">
            <button type="button" class="download-button">DOWNLOAD</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 nopadding">
          <div class="col-md-9">
            <h4><strong>Staying Positive and Hopeful</strong>
            </h4>
            <p class="my-story-section1-color">
              Version: 1
            </p>
            <p class="my-story-section1-color">10/12/2018
            </p>
          </div>
          <div class="col-md-3">
            <button type="button" class="download-button">DOWNLOAD</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 nopadding">
          <div class="col-md-9">
            <h4><strong>Talking with Friends About My Cancer</strong>
            </h4>
            <p class="my-story-section1-color">
              Version: 1
            </p>
            <p class="my-story-section1-color">10/12/2018
            </p>
          </div>
          <div class="col-md-3">
            <button type="button" class="download-button">DOWNLOAD</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </mat-card>
    </div>
  </div>
  <div class="col-md-4">
    <div class="my-story-section2"> 
        PROGRAM REFERENCE GUIDES
      <mat-card>
        <p class="my-story-section1-heading"><strong>Reference Guide for PAH Users</strong>
        </p>
        <p class="my-story-section1-color">
          Version: 1
        </p>
        <p class="my-story-section1-color">10/12/2018
        </p>
        <button type="button" class="download-button-section2">DOWNLOAD</button>
        <hr>
        <p class="my-story-section1-heading"><strong>Patient Ambassdaor User Guide
          </strong>
        </p>
        <p class="my-story-section1-color">
          Version: 1
        </p>
        <p class="my-story-section1-color">10/12/2018
        </p>
        <button type="button" class="download-button-section2">DOWNLOAD</button>
        <hr>
        <p class="my-story-section1-heading"><strong>Controling Q&A Sessions and How to Respond
          </strong>
        </p>
        <p class="my-story-section1-color">
          Version: 1
        </p>
        <p class="my-story-section1-color">10/12/2018
        </p>
        <button type="button" class="download-button-section2">DOWNLOAD</button>
      </mat-card>
    </div>
  </div>
</div>


<div class="clearfix"></div>
<br>