<div class="clearfix"></div>

<div class="col-md-12 nopadding my-profile-top">
  <div class="col-md-4">

    <div class="my-profile-section1">
      <h4 class="my-profile-heading">USER INFO </h4>
      <mat-card>
        <div class="row bg-skublue"></div>
        <div class="image-section-user">
          <img src="assets/img/user-profile-large.png" alt="User" class="img-responsive">
          <p><strong> Stanley Baker </strong></p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">ADDRESS</h6>
          <p class="my-profile-info">502 Stiedemann Haven Apt. 495 Dover, NJ, 55637 </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">EMAIL</h6>
          <p class="my-profile-info">sbaker@gmail.com </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">PHONE</h6>
          <p class="my-profile-info"> 908-463-7345 </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">GENDER</h6>
          <p class="my-profile-info"> Male </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">BIRTHDAY</h6>
          <p class="my-profile-info"> 10/4/1984 </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">PRIMARY LANGUAGE</h6>
          <p class="my-profile-info"> Spanish </p>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">SECONDARY LANGUAGE</h6>
          <p class="my-profile-info"> English </p>
        </div>
        <!-- <button type="button" class="patient-bio">PATIENT BIO</button> -->
      </mat-card>

    </div>
  </div>
  <div class="col-md-8">
    <div class="my-profile-section1">
      <h4>SPEAKER BIO</h4>
      <mat-card>
        <p class="p-ft-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum.</p>
      </mat-card>
      <div class="clearfix"></div>
      <h4 class="my-profile-heading"> PREFERENCES</h4>
      <!-- <div>
      <button type="button" class="button-circle"><span  style='font-size:30px;color:white'> &#9998;</span></button>
    </div> -->
      <div class="my-profile-section-circle2">
        <mat-card>
          <!-- <span matBadge="&#9998;" matBadgePosition="before" matBadgeColor="accent"></span> -->
          <div class="col-md-12 nopadding">
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">MAIL CHECK TO
              </h6>
              <p class="my-profile-info"> Louisa Phillips </p>
            </div>
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">TRAVEL WITH CAREGIVER
              </h6>
              <p class="my-profile-info"> Required</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 nopadding">
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">PREFERRED HOTEL </h6>
              <p class="my-profile-info">Holiday Inn</p>
            </div>
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">PREFERRED AIRLINE</h6>
              <p class="my-profile-info">SouthWest</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div>
            <h6 class="my-profile-sub-heading">DIETARY NEEDS</h6>
            <p class="my-profile-info">None</p>
          </div>
          <div class="pd-t-8">
            <h6 class="my-profile-sub-heading">NOTES / ADDITIONAL INFO </h6>
            <p class="my-profile-info">These are some notes about my restrictions and how I need my schedule adjusted
              to fit in any event that I do.</p>
          </div>
        </mat-card>
      </div>
      <div class="clearfix"></div>
      <h4>FAMILY / CAREGIVER CONTACT INFO
      </h4>
      <div class="my-profile-section-circle2">
        <mat-card>
          <!-- <span matBadge="&#9998;" matBadgePosition="before" matBadgeColor="accent"></span> -->
          <div>
            <h6 class="my-profile-sub-heading">NAME</h6>
            <p>Louisa Phillips </p>
          </div>
          <div class="col-md-12 nopadding">
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">PRIMARY NUMBER</h6>
              <p class="my-profile-info">908-463-7345 </p>
            </div>
            <div class="col-md-6 nopadding">
              <h6 class="my-profile-sub-heading">SECONDARY NUMBER</h6>
              <p class="my-profile-info">908-463-7345 </p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div>
            <h6 class="my-profile-sub-heading">EMAIL2</h6>
            <p class="my-profile-info">lphillips@yahoo.com
            </p>
          </div>
        </mat-card>
      </div>
      <div class="clearfix"></div>
      <h4>PX GROUP PATIENT RELATIONSHIP MANAGER
      </h4>
      <mat-card>
        <div>
          <h6 class="my-profile-sub-heading">MANAGER NAME</h6>
          <p class="my-profile-info">Ruth Weaver </p>
        </div>
        <div class="col-sm-12 nopadding">
          <div class="col-md-6 nopadding">
            <h6 class="my-profile-sub-heading">EMAIL </h6>
            <p class="my-profile-info">ruth.weaver@gmail.com</p>
          </div>
          <div class="col-md-6 margin nopadding">
            <h6 class="my-profile-sub-heading">PHONE </h6>
            <p class="my-profile-info">262-452-7245 </p>
          </div>
        </div>
        <div>
          <h6 class="my-profile-sub-heading">FAX</h6>
          <p class="my-profile-info">353-456-4573</p>
        </div>
      </mat-card>
      <!-- <P>PX GROUP TRAVEL & LOGISTICS MANAGER
      </P>
      <mat-card>
        <div class="align-div">
          <p class="my-profile-sub-heading">MANAGER NAME</p>
          <p class="my-profile-info">Isaac Sutton</p>
        </div>
        <div class="col-sm-12">
          <div class="col-md-6 align-div-padding">
            <p class="my-profile-sub-heading">EMAIL </p>
            <p class="my-profile-info">ruth.weaver@gmail.com</p>
          </div>
          <div class="col-md-6 align-div margin">
            <p class="my-profile-sub-heading">PHONE </p>
            <p class="my-profile-info">262-452-7245 </p>
          </div>
        </div>
        <div class="align-div">
          <p class="my-profile-sub-heading">FAX</p>
          <p class="my-profile-info">353-456-4573</p>
        </div>
      </mat-card> -->
    </div>
  </div>
</div>


<div class="clearfix"></div>
<br>