<div class="clearfix"></div>
<br>


<div class="col-md-12 nopadding" style="padding-top:20px;">
  <div class="col-md-4">

    <div class="my-profile-section1">
      <p class="my-profile-heading">USER INFO </p>
      <mat-card>
        <div class="my-profile-section-circle">
          <span matBadge="&#9998;" matBadgePosition="before" matBadgeColor="accent">
            
            <img src="assets/img/presentation.png" class="img-responsive">
          </span>
        </div>
        <h4 style="font-size:16px"><strong> Stanley Baker </strong></h4>
        <div class="align-div1">
          <p class="my-profile-sub-heading">ADDRESS</p>
          <p class="my-profile-info">502 Stiedemann Haven Apt. 495 Dover, NJ, 55637 </p>
        </div>
        <div class="align-div1">
          <P class="my-profile-sub-heading">CONTACT INFO</P>
          <p class="my-profile-info">sbaker@gmail.com</p>
          <p class="my-profile-info"> 908-463-7345 </p>
        </div>
        <button type="button" class="download-button-section2">PATIENT BIO</button>
      </mat-card>
      <p>FAMILY / CAREGIVER CONTACT INFO
      </p>
      <div class="my-profile-section-circle2">

        <mat-card>
          <span matBadge="&#9998;" matBadgePosition="before" matBadgeColor="accent"></span>
          <div class="align-div">
            <p class="my-profile-sub-heading">NAME</p>
            <p>Louisa Phillips </p>
          </div>
          <div class="align-div">
            <P class="my-profile-sub-heading">NUMBER</P>
            <p class="my-profile-info">908-463-7345 </p>
          </div>
          <div class="align-div">
            <p class="my-profile-sub-heading">EMAIL</p>
            <p class="my-profile-info">lphillips@gmail.com </p>
          </div>
          <div class="align-div">
            <p class="my-profile-sub-heading">EMAIL2</p>
            <p class="my-profile-info">lphillips@yahoo.com
            </p>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="my-profile-section1">
      <p class="my-profile-heading"> PREFERENCES</p>
      <!-- <div>
      <button type="button" class="button-circle"><span  style='font-size:30px;color:white'> &#9998;</span></button>
    </div> -->
      <div class="my-profile-section-circle2">
        <mat-card>
          <span matBadge="&#9998;" matBadgePosition="before" matBadgeColor="accent"></span>
          <div class="align-div">
            <p class="my-profile-sub-heading">MAIL CHECK TO
            </p>
            <p class="my-profile-info"> Louisa Phillips </p>
          </div>
          <div class="col-sm-12">
            <div class="col-md-6 align-div-padding">
              <p class="my-profile-sub-heading">PREFERRED HOTEL </p>
              <p class="my-profile-info">Holiday Inn</p>
            </div>
            <div class="col-md-6 align-div">
              <p class="my-profile-sub-heading">PREFERRED AIRLINE</p>
              <p class="my-profile-info">SouthWest</p>
            </div>
          </div>
          <div class="align-div">
            <p class="my-profile-sub-heading">DIETARY NEEDS</p>
            <p class="my-profile-info">None</p>
          </div>
          <div class="align-div1">
            <p class="my-profile-sub-heading">NOTES / ADDITIONAL INFO </p>
            <p class="my-profile-info">These are some notes about my restrictions and how I need my schedule adjusted
              to fit in any event that I do.</p>
          </div>
        </mat-card>
      </div>
      <P>PX GROUP PATIENT RELATIONSHIP MANAGER
      </P>
      <mat-card>
        <div class="align-div">
          <p class="my-profile-sub-heading">MANAGER NAME</p>
          <p class="my-profile-info">Ruth Weaver </p>
        </div>
        <div class="col-sm-12">
          <div class="col-md-6 align-div-padding">
            <p class="my-profile-sub-heading">EMAIL </p>
            <p class="my-profile-info">ruth.weaver@gmail.com</p>
          </div>
          <div class="col-md-6 align-div">
            <p class="my-profile-sub-heading">PHONE </p>
            <p class="my-profile-info">262-452-7245 </p>
          </div>
        </div>
        <div class="align-div">
          <p class="my-profile-sub-heading">FAX</p>
          <p class="my-profile-info">353-456-4573</p>
        </div>
      </mat-card>
      <P>PX GROUP TRAVEL & LOGISTICS MANAGER
      </P>
      <mat-card>
        <div class="align-div">
          <p class="my-profile-sub-heading">MANAGER NAME</p>
          <p class="my-profile-info">Isaac Sutton</p>
        </div>
        <div class="col-sm-12">
          <div class="col-md-6 align-div-padding">
            <p class="my-profile-sub-heading">EMAIL </p>
            <p class="my-profile-info">ruth.weaver@gmail.com</p>
          </div>
          <div class="col-md-6 align-div">
            <p class="my-profile-sub-heading">PHONE </p>
            <p class="my-profile-info">262-452-7245 </p>
          </div>
        </div>
        <div class="align-div">
          <p class="my-profile-sub-heading">FAX</p>
          <p class="my-profile-info">353-456-4573</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<div class="clearfix"></div>
<br>