.my-profile-top p{
    font-size: 20px;
}
.my-profile-heading{
    color: #1D232F;
}
.my-profile-top{
    margin-top: 24px;
}
.my-profile-sub-heading{
    color: #B6B6B6;
    font-size: 14px;
}
.patient-bio {
    border: 0px solid;
    padding: 12px;
    width: 50%;
    height: 42px;
    box-shadow: 0px 0px 1px 1px;
    background-color: #f7faff;
    color: #2B62CA; 
    
}
.pd-t-8{
    padding-top: 4px;
}
.my-profile-section1 mat-card,
.my-profile-section2 mat-card {
    border-radius: 8px; 
    color: #313338; 
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;
    box-shadow: 0 6px 24px 0 #E2E9F7; 
    margin-bottom: 30px;
} 
.my-profile-section1 h6{
    padding-left: 0px;
}
.my-profile-section1 p{
    padding-bottom: 7px;
    color: #444444; 
}
.my-profile-section1 h4{
    color: #1D232F;
}
.my-profile-info {
    color: #444444;
    font-size: 16px;
}
.p-ft-18{
    font-size: 18px !important;
}

.button-circle{
    border-radius: 50%;
    background-color: #4479f1;
    border: 0px solid;
    /* padding: 12px; */
    width: 8%;
    height: 50px;
    box-shadow: 0px 1px 1px 1px;
    padding-top: 0px;
}

.nopadding{
    padding: 0px;
}
.img-radius{
    border-radius: 9px 9px 1px 1px;
    width: 100%
}
.bg-skublue{
    background-color: #D6E4FF;
    margin-top: -16px !important;
    border: 1px solid #D6E4FF;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;  
    height: 136px;
}
.row.bg-skublue{
    margin-left: -16px;
    margin-right: -16px;
}
.image-section-user{
    text-align: center; 
}
.image-section-user img{  
    margin: auto;
    margin-top: -100px;
}
.image-section-user p{
    padding-top: 19px;
    padding-bottom: 30px;
    color: #2D2A26;	font-size: 20px;	font-weight: 600;	line-height: 27px;
}
.image-section-user + div h6{
    margin-top: 0px
}
.header-below-content{
    padding-top: 24px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .align-div-padding{
        margin-left: -17px;
        padding-left: 0px;
    }
    .margin{
        /* margin-left: -17px; */
        padding-left: 0px;
    }
    .patient-bio {
        width: 100%;
    }
    .my-profile-section1 mat-card,
    .my-profile-section2 mat-card {
    padding: 10px;
   }
    .nopadding{
        padding: 0px;
    }
  }
  @media (min-width: 500px) and (max-width: 800px) {
    .align-div-padding{
        margin-left: -17px;
        padding-left: 0px;
    }
    .margin{
        /* margin-left: -17px; */
        padding-left: 0px;
    }
    .nopadding{
        padding: 0px;
    }
  }
  @media (min-width:850px) and (max-width: 1024px){
    .align-div-padding{
        margin-left: -17px;
        padding-left: 0px;
    }
    .margin{
        /* margin-left: -17px; */
        padding-left: 0px;
    }
  }
