.btn.btn-plain{
    padding: 5px 10px;
    border: 1px solid #2B62CA;
    background-color: white;
    font-size: 12px;
    color: #2B62CA;
    border-radius: 0px;
}
.btn.btn-plain-blue{
    padding: 5px 10px;
    border: 1px solid #2B62CA;
    background-color: #2B62CA;
    font-size: 12px;
    color: #fff;
    border-radius: 0px;
}
.btn.btn-plain-upload{
    padding: 20px 10px; 
    border: 1px solid #2B62CA;
    background-color: white;
    font-size: 12px;
    color: #2B62CA;
    border-radius: 0px;
}
.margin-top-25{
    margin-top: 25px;
    margin-bottom: 20px;
}
.nopadding{
    padding: 0px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
} 
.example-full-width {
    width: 100%;
}
