<div class="clearfix"></div>
<div class="col-md-12 padding-top">
    <div class="col-md-12"> <a class="a-back">BACK</a>
    <div class="clearfix"></div>
  <mat-card>
    <div class="row">
    <div class="top-panel">
      <div class="col-md-1 left-content m-tp-minus">
        <span class="upper-text">OCT</span>
        <div class="clearfix"></div>
       <div class="ft-sz"> 12 </div>
      </div>

      <div class="col-md-11 nopadding">Understanding the Complexity of Living with Cancer</div>
    </div>
    <div class="col-md-12">
    <hr>
  </div>
    <div class="bottom-panel">
      <div class="col-md-2">
        <p>TIME</p>
        <p>1:00 - 4:00 PM</p>
      </div>
      <div class="col-md-4">
        <p>PLACE</p>
        <p>One Penn Plaza, New York, New York</p>
      </div>
      <div class="col-md-3">
        <p>ORGANIZER</p>
        <p>Peter Nelson</p>
      </div>
      <div class="col-md-3 icon-panel text-right">
        <span><img src="assets/icons/add.svg"></span>
        <span><img src="assets/icons/map.svg"></span>
        <span><img src="assets/icons/details.svg"></span>
        <span><img src="assets/icons/check-mark.svg" ></span>
      </div>
    </div>
  </div>
  </mat-card>

  <div class="clearfix"></div>

  <div class="col-md-12 Travelling-wrapper nopadding">
    <div class="row">
      <div class="col-md-8 left-panel">
        <p class="text-size">TRAVEL INFO</p>
        <mat-card class="ps-relative">
          <div class="divider"></div>
          <div class="row">
            <div class="col-md-6 flight-panel">
              <p>FLIGHT INFO</p>
              <p>Friday October 11th </p>
              <p>Delta 1077 </p>
              <p><span>Depart:</span> Salt Lake City - 6:30 PM</p>
              <p><span>Arrive:</span> New York - 10:15 PM</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 hotel-panel">
              <p>HOTEL INFO</p>
              <p class="ht-sz"> Nothing booked yet . </p>

              <button class="btn btn-plain">CONTACT TRAVEL MANAGER</button>

            </div>
          </div>
        </mat-card>
        <!--Travel Wrapper -->

        <div class="col-md-12 expenses-wrap nopadding">
          <p class="text-size">EXPENSES DETAILS</p>
          <mat-card>
            <p class="font-20">You have <b>two</b> options to report your expenses.</p>
            <div class="row">
              <div class="col-md-12">
              <div class="col-md-6">
                <p class="ht-sz">
                  <span class="ps-abs-digit">1.</span> 
                    <span>Download the PDF expense form, fill it out,
                    fax that form as well as your receipts to
                    <a class="color-no">908-254-3724</a>
                  </span>
                </p>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-plain">DOWNLOAD EXPENSE FORM</button>
              </div>
            </div>
            <div class="clearfix"></div>
              <div class="col-md-12 mr-top-10"> 
                <div class="col-md-1 nopadding ml-minus">
                    OR 
                </div>
                <div class="col-md-11 nopadding">
                    <hr class="hr-tp">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
              <div class="col-md-6">
                <p class="ht-sz">
                <span class="ps-abs-digit">2.</span> 
                  <span> 
                  Use the digital expense report form and
                  upload your recipts and expenses online.
                </span>
                </p>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-plain" routerLink="expenses/2">GO TO DIGITAL EXPENSE FORM</button>
              </div>
            </div>
            <div class="clearfix"></div>
            </div>
          </mat-card>
        </div>
        <!--expenses-wrap -->
      </div><!-- left + Panel-->
      <div class="custom-clearfix"></div>
      <div class="col-md-4 right-panel">
        <p class="text-size">EVENT NOTES</p>

        <mat-card>
          <p class="font-18">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nam
            imperdiet varius sapien, sed
            posuere dui posuere a. Phasellus
            et nulla dui.</p>

          <p class="font-18">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nam
            imperdiet varius sapien, sed
            posuere dui posuere a. Phasellus
            et nulla dui.
          </p>
          <p class="font-18">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nam
              imperdiet varius sapien, sed
              posuere dui posuere a. Phasellus
              et nulla dui.
            </p>
        </mat-card>
      </div><!-- Right + Panel-->
    </div>
  </div>
  <!--Travel Detail -->
  <div class="clearfix"></div>
</div>

</div><!-- Master -->
<div class="clearfix"></div>