<div class="col-md-12 padding-top">
  <mat-card>
    <div class="top-panel">
      <div class="col-md-1 left-content m-tp-minus">
        <span class="upper-text">OCT</span>
        <div class="clearfix"></div>
        12
      </div>

      <div class="col-md-11 nopadding">Understanding the Complexity of Living with Cancer</div>
    </div>
    <hr>
    <div class="bottom-panel">
      <div class="col-md-2">
        <p>TIME</p>
        <p>1:00 - 4:00 PM</p>
      </div>
      <div class="col-md-4">
        <p>PLACE</p>
        <p>One Penn Plaza, New York, New York</p>
      </div>
      <div class="col-md-3">
        <p>ORGANIZER</p>
        <p>Peter Nelson</p>
      </div>
      <div class="col-md-3 icon-panel text-right">
        <span><img src="assets/icons/add.svg"></span>
        <span><img src="assets/icons/map.svg"></span>
        <span><img src="assets/icons/details.svg"></span>
        <span><img src="assets/icons/check-mark.svg" width="20"></span>
      </div>
    </div>
  </mat-card>

  <div class="clearfix"></div>

  <div class="col-md-12 Travelling-wrapper nopadding">
    <div class="row">
      <div class="col-md-8 left-panel">
        <p class="text-size">TRAVEL INFO</p>
        <mat-card>
          <div class="row">
            <div class="col-md-5 flight-panel">
              <p>FLIGHT INFO</p>
              <p>Friday October 11th </p>
              <p class="delta-margin">Delta 1077 </p>
              <p><span>Depart:</span> Salt Lake City - 6:30 PM</p>
              <p><span>Arrive:</span> New York - 10:15 PM</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 nopadding hotel-panel">
              <p>HOTEL INFO</p>
              <p> Nothing booked yet . </p>

              <button class="btn btn-plain">CONTACT TRAVEL MANAGER</button>

            </div>
          </div>
        </mat-card>
        <!--Travel Wrapper -->

        <div class="col-md-12 expenses-wrap nopadding">
          <p class="text-size">EXPENSES DETAILS</p>
          <mat-card>
            <p>You have <b>two</b> options to report your expenses.</p>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Download the PDF expense form, fill it out,
                  fax that form as well as your receipts to
                  <a href="#">908-254-3724</a>
                </p>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-plain">DOWNLOAD EXPENSE FORM</button>
              </div>
              <div class="col-md-12"> 
              OR <hr>
              </div>
              <div class="col-md-6">
                <p>
                  Use the digital expense report form and
                  upload your recipts and expenses online.
                </p>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-plain" routerLink="expenses/2">GO TO DIGITAL EXPENSE FORM</button>
              </div>

            </div>
          </mat-card>
        </div>
        <!--expenses-wrap -->
      </div><!-- left + Panel-->

      <div class="col-md-4 right-panel">
        <p class="text-size">EVENT NOTES</p>

        <mat-card>
          <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nam
            imperdiet varius sapien, sed
            posuere dui posuere a. Phasellus
            et nulla dui.</p>

          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nam
            imperdiet varius sapien, sed
            posuere dui posuere a. Phasellus
            et nulla dui.
          </p>
        </mat-card>
      </div><!-- Right + Panel-->
    </div>
  </div>
  <!--Travel Detail -->



</div><!-- Master -->