<div class="clearfix"></div>

<div class="col-md-12 nopadding training-detail-top-padding">
  <div class="col-md-12"> <a class="a-back">BACK</a></div>
  <div>
  <div class="col-md-9">
    <h4 class="hd-24"><strong>Coping with My Cancer</strong></h4>
  </div>
  <div class="col-md-3">
    <!-- <p class="training-status"><span class="oval oval-color2"></span><strong> In Progress </strong></p> -->
    <span class="training-status">In Progress</span><span class="progress-badge progress-color"></span>
    <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
  </div>
</div>
   <div class="clearfix"></div>
   <div class="col-md-12">
     <hr class="hr-align">
   </div>
  <div class="col-md-12">
    <h4 class="mr-11">PROGRESS BAR</h4>
      <mat-progress-bar mode="determinate" value="35" class="progress-bar"></mat-progress-bar>
    
  </div>

  <div class="col-md-12">
    <div class="col-md-12 video-section">
    <div class="col-md-5 completed-badge">
      <!-- <div class="">          
         <p><span matBadge="&#10004;" matBadgeOverlap="false"><strong>Section 1 </strong></span></p>
         <h4 class="section-color"><strong>What to expect off the bat and how to continue looking forward.</strong>
        </h4>
      </div>
      <div>
          <p><strong>Section 2 </strong></p>
          <h4 class="section-color"><strong> Understanding that cancer isn’t in control, you are.</strong>
            </h4>
       </div>
      <div>
          <p><strong>Section 3</strong></p>
          <h4 class="section-color"><strong> How to maintan your day to day actives with your new schedule.</strong>
            </h4>
       </div>
       <hr class="hr-align"> -->
       <h4 class="section-color">Understanding that cancer isn’t in control, you are.
        </h4>
       <p class="video-para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ullamcorper turpis. Aenean 
          nulla dolor, placerat hendrerit lacus ut, gravida auctor ligula. Fusce et augue nibh. 
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          Sed feugiat, arcu id faucibus ornare, ipsum justo semper mi, id ullamcorper nulla ligula eu 
          sapien. Etiam vulputate ipsum tellus, iaculis aliquam orci interdum vel.

       </p>
       
    </div>
     <div class="col-md-7 video-pd">
        <video width="100%" height="300" controls>
          <source src="assets/video/movie.mp4" type="video/mp4"> -->
             </video>
        <!-- <iframe width="100%" height="345" src="assets/video/movie.mp4" controls>
            </iframe> -->
      
       
     </div>
    </div>
    </div>
  

</div>

<div class="clearfix"></div>
<br>


