<div class="clearfix header-below-content"></div>

<div class="col-md-12 nopadding training-detail-top-padding">
  <div class="col-md-12"> <a class="a-back" (click)="goBack()">BACK</a></div>
  <div>
  <div class="col-md-9">
    <h4 class="hd-24"><strong>Coping with My Cancer</strong></h4>
  </div>
  <div class="col-md-3">
    <!-- <p class="training-status"><span class="oval oval-color2"></span><strong> In Progress </strong></p> -->
    <span class="training-status">In Progress</span><span class="progress-badge progress-color"></span>
    <div class="clearfix"></div>
    <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
  </div>
</div>
   <div class="clearfix"></div>
   <div class="col-md-12">
     <hr class="hr-align">
   </div>
  <div class="col-md-12">
    <h4 class="mr-11">PROGRESS BAR</h4>
      <mat-progress-bar mode="determinate" value="35" class="progress-bar"></mat-progress-bar> 
      <span class="percentage">33% Complete</span>
  </div>

  <div class="col-md-12 slider-wrapper">
    <img src="assets/img/speacinfici-training.png" class="img-responsive" width="100%">
  </div>
  
</div>

<div class="clearfix"></div>
<br>


