<div class="clearfix"></div>
<br>
<div class="col-md-12 nopadding">
  <p>My UpComing Events</p>
  <div class="col-md-4">
    <mat-card>
      <img mat-card-image src="assets/img/presentation.png">
      <mat-card-content>
        Test 1
        <mat-card-title>Test 2</mat-card-title>
        <mat-card-subtitle>Test 3</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img mat-card-image src="assets/img/presentation.png">
      <mat-card-content>
        Test 1
        <mat-card-title>Test 2</mat-card-title>
        <mat-card-subtitle>Test 3</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img mat-card-image src="assets/img/presentation.png">
      <mat-card-content>
        Test 1
        <mat-card-title>Test 2</mat-card-title>
        <mat-card-subtitle>Test 3</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div class="clearfix"></div>
<br>

<div class="col-md-12 nopadding">
  <div class="col-md-6">
    <p>News & Update</p>
    <mat-card>Test</mat-card>
  </div>
  <div class="col-md-6">
    <p>News & Update</p>
    <mat-card>Test 2</mat-card>
  </div>
</div>


<div class="clearfix"></div>
<br>