<div class="clearfix nopadding header-below-content"></div> 
<div class="col-md-12 nopadding Events-panel">
  <div class="col-md-12">
    <p class="my-event-title">MY UPCOMING EVENTS</p>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img src="assets/img/img-live.png" alt="1" class="img-responsive img-width">
      <mat-card-content>
        <div class="col-md-12 first-wrap nopadding">
          <div class="col-md-3">
            <span class="upper-text">OCT</span>
            <div class="clearfix"></div>
            <span class="left-content">12</span>
          </div>
          <div class="col-md-9 right-content" routerLink="/calender/event/1">Patients Understanding Workshop</div>
        </div>

        <div class="col-md-12 middle-panel">
          <span>1 - 4 PM, New York, NY</span>
        </div>

        <div class="col-md-12 icon-panel">
          <span><img src="assets/icons/add.svg" class="icon-panel-align-add"></span>
          <span  routerLink="/calender/event/1"><img src="assets/icons/map.svg" class="icon-panel-align"></span>
          <span><img src="assets/icons/details.svg" class="icon-panel-align"></span>
          <span routerLink="/calender/event/1/expenses/2"><img src="assets/icons/check-mark.svg"  class="icon-panel-align"></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img src="assets/img/img-live.png" alt="2" class="img-responsive img-width">
      <mat-card-content>
        <div class="col-md-12 first-wrap nopadding">
          <div class="col-md-3">
            <span class="upper-text">OCT</span>
            <div class="clearfix"></div>
            <span class="left-content">12</span>
          </div>
          <div class="col-md-9 right-content" routerLink="/calender/event/1">Patients Understanding Workshop</div>
        </div>

        <div class="col-md-12 middle-panel">
          <span>1 - 4 PM, New York, NY</span>
        </div>
        <div class="col-md-12 icon-panel">
          <span><img src="assets/icons/add.svg" class="icon-panel-align-add"></span>
          <span  routerLink="/calender/event/1"><img src="assets/icons/map.svg" class="icon-panel-align"></span>
          <span><img src="assets/icons/details.svg" class="icon-panel-align"></span>
          <span routerLink="/calender/event/1/expenses/2"><img src="assets/icons/check-mark.svg"  class="icon-panel-align"></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img src="assets/img/img-virtual.png" alt="3" class="img-responsive img-width">
      <mat-card-content>
        <div class="col-md-12 first-wrap nopadding">
          <div class="col-md-3">
            <span class="upper-text">OCT</span>
            <div class="clearfix"></div>
            <span class="left-content">12</span>
          </div>
          <div class="col-md-9 right-content" routerLink="/calender/event/1">Patients Understanding Workshop</div>
        </div>

        <div class="col-md-12 middle-panel">
          <span>1 - 4 PM, New York, NY</span>
        </div>

        <div class="col-md-12 icon-panel">
          <span><img src="assets/icons/add.svg" class="icon-panel-align-add"></span>
          <span  routerLink="/calender/event/1"><img src="assets/icons/map.svg" class="icon-panel-align"></span>
          <span><img src="assets/icons/details.svg" class="icon-panel-align"></span>
          <span routerLink="/calender/event/1/expenses/2"><img src="assets/icons/check-mark.svg"  class="icon-panel-align"></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div class="clearfix"></div>

<div class="col-md-12 nopadding pd-t-63 pd-b-70">
  <div class="col-md-6 hidden">
    <p class="font-18">NEWS & UPDATE</p>
    <div class="news-wrap news-wrap-margin">
      <mat-card class="news-wrap-padding">
        <span>Oct 12</span>
        <p>
          Attention all Patient Ambassadors please submit
          all of your outstanding expense by the end of the quater.
        </p>
      </mat-card>
      <mat-card class="news-wrap-padding">
        <span>Oct 12</span>
        <p>
          Attention all Patient Ambassadors please submit
          all of your outstanding expense by the end of the quater.
        </p>
      </mat-card>
      <mat-card class="news-wrap-padding">
        <span>Oct 12</span>
        <p>
          Attention all Patient Ambassadors please submit
          all of your outstanding expense by the end of the quater.
        </p>
      </mat-card>
    </div>
  </div>
  <div class="col-md-8">
    <p class="font-head">MY TRAINING</p>
    <div class="training-wrap">
      <mat-card>
        <div class="col-md-8 col-sm-8 col-xs-6 nopadding font-18" routerLink='/trainingdetail/1'>
          Coping with My Cancer 
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-right nopadding">
          <span class="due-sec-align">Due Date:</span><span> Oct 12</span>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-sm-8 col-xs-6 nopadding pd-top-8">
          <span class="progress-badge"></span><span>In Progress</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 nopadding text-right"> 
        </div>
      </mat-card>
      <mat-card>
        <div class="col-md-8 col-sm-8 col-xs-6 nopadding font-18" routerLink='/trainingdetail/1'>
          Staying Positive and Hopeful
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-right nopadding">
            <span class="due-sec-align">Due Date:</span><span> Oct 12</span>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-sm-8 col-xs-6 nopadding pd-top-8">
          <span class="progress-badge"></span><span>In Progress</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 nopadding text-right"> 
        </div>
      </mat-card>
      <mat-card>
        <div class="col-md-8 col-sm-8 col-xs-6 nopadding font-18" routerLink='/trainingdetail/1'>
          Talking with Friends About My Cancer
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-right nopadding">
            <span class="due-sec-align">Due Date:</span><span> Oct 12</span>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-sm-8 col-xs-6 nopadding pd-top-8">
          <span class="progress-badge"></span><span>In Progress</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 nopadding text-right">
            
        </div>
      </mat-card>
      <mat-card>
        <div class="col-md-8 col-sm-8 col-xs-6 nopadding font-18" routerLink='/trainingdetail/1'>
          Talking with Friends About My Cancer
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-right nopadding">
            <span class="due-sec-align">Due Date:</span><span> Oct 12</span>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-sm-8 col-xs-6 nopadding pd-top-8">
          <span class="progress-badge"></span><span>In Progress</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 nopadding text-right"> 
        </div>
      </mat-card>
      <!-- <mat-card routerLink='/trainingdetail/1'>
        <div class="col-md-6 col-sm-6 col-xs-6 nopadding font-18" routerLink='/trainingdetail/1'>
          Coping with My Cancer
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right nopadding">
            <span class="due-sec-align">Due Date:</span><span> Oct 12</span>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-6 nopadding pd-top-8">
          <span class="progress-badge"></span><span>In Progress</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 nopadding text-right">
            <span class="due-sec-align"> Sections:</span><span> 2</span>
        </div>
      </mat-card> -->
    </div>
  </div>
</div>


<div class="clearfix"></div>