<div class="clearfix"></div>

<div class="col-md-12 nopadding pd-top">
    <div class="col-md-4 vertival-line-rt">
        <div class="training-section1">
            <div class="clearfix"></div>
            <h5 class="sub-heading">TO BE COMPLETED </h5>
            <div class="clearfix"></div>
            <mat-card>

                <h4 routerLink='/trainingdetail/1' class="training-heading">Understanding the Complexity of Cancer and
                    It's Effects</h4>
                <hr>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 status-media">
                        <!-- <p class="training-align"> <strong> Not Started</strong> </p> -->
                        <span class="progress-badge notstated-color"></span><span>Not Started</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading sub-heading-adjust">I'm in Remission, Now
                    What?</h4>
                <hr>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 status-media">
                        <span class="progress-badge notstated-color"></span><span>Not Started</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading">Learning What My Best Treatment Options Are
                </h4>
                <hr>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 status-media">
                        <span class="progress-badge notstated-color"></span><span>Not Started</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-4 vertival-line-rt">
        <div class="training-section1">
            <div class="clearfix"></div>
            <h5 class="sub-heading">IN PROGRESS </h5>
            <div class="clearfix"></div>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading sub-heading-adjust">Coping with My Cancer</h4>
                <hr>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 status-media">
                        <span class="progress-badge progress-color"></span><span>In Progress</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading sub-heading-adjust">Staying Positive and
                    Hopeful
                </h4>
                <hr>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 status-media">
                        <span class="progress-badge progress-color"></span><span>In Progress</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading">Talking with Friends About My Cancer
                </h4>
                <hr>
                <div class="col-md-12 nopadding">

                    <div class="col-md-6 status-media">
                        <span class="progress-badge progress-color"></span><span>In Progress</span>
                    </div>
                    <div class="col-md-6 training-floating">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="training-section1">
            <div class="clearfix"></div>
            <h5 class="sub-heading">COMPLETED </h5>
            <div class="clearfix"></div>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading">Learning that I have Cancer and What to
                    Expect</h4>
                <hr>
                <div class="col-md-12 nopadding">

                    <div class="col-md-7 status-media">
                        <span class="progress-badge completed-color"></span><span>Completed on Sep 20</span>
                    </div>
                    <div class="col-md-5 training-floating nopadding">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
            <mat-card>
                <h4 routerLink='/trainingdetail/1' class="training-heading">Telling My Family About My Cancer </h4>
                <hr>
                <div class="col-md-12 nopadding">

                    <div class="col-md-7 status-media">
                        <span class="progress-badge completed-color"></span><span>Completed on Sep 15 </span>
                    </div>
                    <div class="col-md-5 training-floating nopadding">
                        <p> Due Date:<strong> Oct 12</strong> </p>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </mat-card>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<br>