<div class="clearfix"></div>
<br>

<div class="col-md-12 nopadding" style="padding-top:20px; padding-bottom: 100px;">
  <div class="col-md-4">
     <div class="training-section1">
      <p>TO BE COMPLETED </p>
      <mat-card>
          <a routerLink='/trainingdetail/1'>
       <h4 class="training-heading">Understanding the Complexity of Cancer and It's Effects</h4>
    </a>
       <hr>
       <div class="col-md-12">
           <div class="col-md-6">
                <!-- <p class="training-align"> <strong> Not Started</strong> </p> -->
                <span class="progress-badge notstated-color"></span><span>Not Started</span>
           </div>
           <div class="col-md-6">
               <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
               <p class="training-floating">Sections:<strong> 1</strong> </p>
           </div>
       </div>
       <div class="clearfix"></div>
      </mat-card>  
      <mat-card>
            <h4 class="training-heading">I'm in Remission, Now What?</h4>
            <hr>
            <div class="col-md-12">
                <div class="col-md-6">
                        <span class="progress-badge notstated-color"></span><span>Not Started</span>
                </div>
                <div class="col-md-6">
                    <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                    <p class="training-floating">Sections:<strong> 1</strong> </p>
                </div>
            </div>
            <div class="clearfix"></div>
      </mat-card>
      <mat-card>
            <h4 class="training-heading">Learning What My Best Treatment Options Are </h4>
            <hr>
            <div class="col-md-12">
                <div class="col-md-6">
                        <span class="progress-badge notstated-color"></span><span>Not Started</span>
                </div>
                <div class="col-md-6">
                    <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                    <p class="training-floating">Sections:<strong> 1</strong> </p>
                </div>
            </div>
            <div class="clearfix"></div>
      </mat-card>
    </div>
  </div>
  <div class="col-md-4 vertival-line">
        <div class="training-section1">
         <p>IN PROGRESS </p>
         <mat-card>
          <h4 class="training-heading">Coping with My Cancer</h4>
          <hr>
          <div class="col-md-12">
              <div class="col-md-6">
                    <span class="progress-badge progress-color"></span><span>In Progress</span>
              </div>
              <div class="col-md-6">
                  <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                  <p class="training-floating">Sections:<strong> 1</strong> </p>
              </div>
          </div>
          <div class="clearfix"></div>
         </mat-card>  
         <mat-card>
               <h4 class="training-heading">Staying Positive and Hopeful
                </h4>
               <hr>
               <div class="col-md-12">
                   <div class="col-md-6">
                        <span class="progress-badge progress-color"></span><span>In Progress</span>
                   </div>
                   <div class="col-md-6">
                       <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                       <p class="training-floating">Sections:<strong> 1</strong> </p>
                   </div>
               </div>
               <div class="clearfix"></div>
         </mat-card>
         <mat-card>
               <h4 class="training-heading">Talking with Friends About My Cancer
                </h4>
               <hr>
               <div class="col-md-12">
                   
                   <div class="col-md-6">
                        <span class="progress-badge progress-color"></span><span>In Progress</span>
                   </div>
                   <div class="col-md-6">
                       <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                       <p class="training-floating">Sections:<strong> 1</strong> </p>
                   </div>
               </div>
               <div class="clearfix"></div>
         </mat-card>
       </div>
     </div>
     <div class="col-md-4">
            <div class="training-section1">
             <p>COMPLETED </p>
             <mat-card>
              <h4 class="training-heading">Learning that I have Cancer and What to Expect</h4>
              <hr>
              <div class="col-md-12">
                  
                  <div class="col-md-6">
                        <span class="progress-badge completed-color"></span><span>Completed</span>
                  </div>
                  <div class="col-md-6">
                      <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                      <p class="training-floating">Sections:<strong> 1</strong> </p>
                  </div>
              </div>
              <div class="clearfix"></div>
             </mat-card>  
             <mat-card>
                   <h4 class="training-heading">Telling My Family About My Cancer </h4>
                   <hr>
                   <div class="col-md-12">
                      
                       <div class="col-md-6">
                            <span class="progress-badge completed-color"></span><span>Completed </span>
                       </div>
                       <div class="col-md-6">
                           <p class="training-floating"> Due Date:<strong> Oct 12</strong> </p>
                           <p class="training-floating">Sections:<strong> 1</strong> </p>
                       </div>
                   </div>
                   <div class="clearfix"></div>
             </mat-card>
           </div>
         </div>
</div>

<div class="clearfix"></div>
<br>

