@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.nopadding {
    padding: 0px;
  }

.mat-tab-label-container .mat-tab-list .mat-tab-labels {
    display: flex;
    float: right;
    margin-right: 240px;
} 
.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  float: left;
  width: 100%; 
  padding: 15px;
}
.mat-tab-body-wrapper .mat-tab-body-content{
  padding: 15px 0px;
}
mat-card{
  float: left;
  width: 100%;
} 
hr {
 float: left;
 width: 100%;
 margin-bottom: 15px;
 margin-top: 15px;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
} 
.mat-horizontal-stepper-header-container {
   background: white;
}
.mat-horizontal-stepper-header-container { 
  width: 600px; 
}
.mat-horizontal-content-container{
  padding: 0px !important; 
}
.mat-form-field-infix{
  width: 100% !important; 
} 

.dailog-wrapper .fc-toolbar .fc-right,
.dailog-wrapper .btn.btn-default,
.dailog-wrapper .fc-state-disabled {
  display: none;
}
.dailog-wrapper .fc button, .fc table, body .fc {
  font-size: 11px;
}
.dailog-wrapper .fc .fc-toolbar>*>:first-child {
  margin-left: 0;
  font-size: 16px; 
  font-weight: bold;
}
.border-wrap,
.dailog-form-wrap{
  height: 350px;
}
.dailog-wrapper .border-wrap{
  border-right: 1px solid #cecece;  
  border-bottom: 1px solid #cecece; 
}
.dailog-wrapper .border-wrap p{
  margin-left: 18px;
}
/* .dailog-wrapper .border-wrap p:last-child{
  border-bottom: 1px solid #cecece;
}  */
.dailog-wrapper .mat-dialog-content { 
  margin: 0 -24px;
  padding: 0 24px;
  max-height: none !important;
  height: auto;
  overflow: none; 
}
.mtp-15{
  margin-top: 15px;
} 
.nopadding{
  padding: 0px;
}
.dailog-form-wrap{
  border-bottom: 1px solid #cecece;
}
.dailog-form-wrap hr{
  margin-top: 7px;
  margin-bottom: 10px;
}
.dailog-wrapper .custom-hr{
  margin-top: 0px;
  margin-bottom: 10px;
}
.mrtp{
  margin-top: 20px;
}
.dailog-wrapper .btn-wrap{
  margin-top: 10px;
}
.dailog-wrapper .btn-wrap .btn.btn-primary{
  margin-left: 15px;
}
.fc-view, .fc-view>table { 
  background: #fff;
}
.btn-dialog-position{
position: absolute;
top: 6px;
z-index: 99;
right: 15px;
border: 0px solid;
height: 35px;
background-color: #2b62ca;
color: white;
}
.events-btn-position{
  position: absolute;
  top: 15px;
  z-index: 99;
  left: 15px;
  font-size: 16px;
}
 
.mat-tab-label .mat-tab-label-content{
  border: 0px solid;
  padding: 12px;
  height: 32px;
  box-shadow: 0px 0px 1px 1px;
  background-color: #f7faff;
  color: #2B62CA;
}
.fc-right{
  display: none; 
}
.fc-day-grid-event .fc-content{
  background: #000;
  border: 1px solid #000;
}
.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  height: 440px;
  max-height: 500px !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected{
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
  color: rgba(0,0,0,.54);
  border: 1px solid rgba(0,0,0,.54);
}
.mat-form-field{
  width: 100%;
}
.mat-horizontal-stepper-header {
  width: 125px;
  text-align: center;
  height: 125px !important;
  padding: 0 49px !important;
}
.mat-step-label {
  position: absolute;
  bottom: 25px;
  margin: auto;
  left: 0px;
  right: 0px;
  font-size: 16px !important;
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
  color: rgba(0,0,0,.54);
  border: 2px solid rgba(0,0,0,.54);
  margin-right: auto !important;
  margin: auto;
  margin-top: 29px;
}
.mat-step-label-selected {
  color: #1873d4 !important;
  font-weight: 600;
}
.mat-progress-bar-fill::after{
  background-color: #2B62CA !important;
}
.mat-progress-bar-buffer {
  background-color: white;
}